@model IEnumerable<TravelBooking.MVC.Models.BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Booking ID: @Html.DisplayFor(modelItem => item.BookingId)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Tour Package: @Html.DisplayFor(modelItem => item.TourPackage)</h6>
                        <p class="card-text">
                            <strong>Destination Address:</strong> @Html.DisplayFor(modelItem => item.DistinationAddress) <br>
                            <strong>Travel Date:</strong> @Html.DisplayFor(modelItem => item.TravelDate) <br>
                            <strong>Return Date:</strong> @Html.DisplayFor(modelItem => item.ReturnDate) <br>
                            <strong>User Account ID:</strong> @Html.DisplayFor(modelItem => item.UserAccountId)
                        </p>
                        <a class="btn btn-success" asp-controller="Applicant" asp-action="Details" asp-route-id="@item.BookingId">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

